<div class="sub-header">

  <form {{action 'loadSubRoute' on="submit"}}>
      <span class="logo">Reddit</span>
  {{ input placeholder="subreddit" type="text" value=subreddit }}
  <button type="submit" value="Submit">Submit</button>
</form>
</div>
